<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
  {% block head %}
  <title>{% block title %}{% endblock %} - MyApp</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
  {% endblock %}
</head>
<body class="sb-nav-fixed">
    {% include 'nav.html' %}
{% block content %}
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button class="btn-close" type="button" aria-label+"Close"></button>
        {{ message }}
</div>
{% endfor %}

    {% block body %}
    {% endblock %}
{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='assets/demo/chart-area-demo.js') }}"></script>
	<script src="{{ url_for('static', filename='assets/demo/chart-bar-demo.js') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='assets/demo/datatables-demo.js') }}"></script>
</body>
</html>
