{% extends 'base.html' %}

{% block title %}Beranda{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block body %}
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Dashboard</h1>
{% for message in get_flashed_messages() %}
<div class="alert alert-warning">
    <button class="btn-close" type="button" aria-label="Close"></button>
        {{ message }}
</div>
{% endfor %}
{% if current_user.is_authenticated %}
<h3>Selamat datang {{ current_user.username.title() }}</h3>
{% endif %}
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-4 shadow">
                                <div class="card-body bg-info">
                                    <h5 class="card-title text-light mb-4">Kehadiran Hari Ini</h5>
                                    <div class="row">
                                        <div class="col-xl-6 col-md-6 text-light">
                                            <h3 class="text-light">14 / 20</h3>
                                        </div>
                                        <div class="col-xl-6 col-md-6">
                                            <h6 class="text-light text-end">6 Orang belum hadir.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-primary text-white mb-4 shadow-sm">
                                <div class="card-body text-center">Check In</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#"></a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-success text-white mb-4 shadow-sm">
                                <div class="card-body text-center">Check Out</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#"></a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-danger text-white mb-4 shadow-sm">
                                <div class="card-body text-center">Sakit</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#"></a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="card bg-warning text-white mb-4 shadow-sm">
                                <div class="card-body text-center">Izin</div>
                                <div class="card-footer d-flex align-items-center justify-content-between">
                                    <a class="small text-white stretched-link" href="#"></a>
                                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Your Website 2021</div>
                    </div>
                </div>
            </footer>
        </div>
{% endblock %}
