{% extends 'base.html' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block body %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Hai {{ user.username }}!</h1>
{% if user.name or user.location %}
<p>
	{% if user.name %}{{ user.name }}{% endif %}
	{% if user.location %}
  From <a href="https://google.com/maps/search/{{ user.location }}/">{{ user.location }}</a>
  {% endif %}
</p>
{% endif %}
{% if current_user.is_administrator() %}
<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
{% endif %}
{% if user.about_me %}
<p>{{ user.about_me }}</p>
{% endif %}
<p>
  Member since {{ user.member_since }}.
  Last seen {{ user.last_seen }}.
</p>
<p>
  {% if user == current_user %}
  <a href="{{ url_for('.edit_profile') }}" class="btn btn-primary">Ubah Profil</a>
  {% endif %}
  {% if current_user.is_admininstrator %}
  <a href="{{ url_for('.edit_profile_admin', id=user.id) }}">Ubah Profil [Admin]</a>
  {% endif %}
</p>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
{% endblock %}
