{% extends 'base.html' %}

{% block title %}Profile - {{ user.username }}{% endblock %}

{% block body %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Profil {{ user.username.title() }}</h1>
{% if user == current_user %}
  {% if profil.realname or profil.location %}
  <ol class="breadcrumb mb-4">
    {% if profil.realname %}<li class="breadcrumb-item active">{{ profil.realname.title() }}{% endif %}
    {% if profil.location %}
    dari <a href="https://google.com/maps/search/{{ profil.location }}/">{{ profil.location }}</a>
    {% endif %}
    <li class="breadcrumb-item">
    Terlihat {{ user.last_seen }}.
    </li>
    </li>
  </ol>
  {% endif %}
{% endif %}
{% if current_user.is_administrator() %}
<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
{% endif %}
<div class="card p-4 mb-3 shadow">
  <div class="body">
    <div class="row mb-3">
      <form action="" method="post" novalidate>
      {% for message in get_flashed_messages() %}
      <div class="alert alert-success">
          {{ message }}
      </div>
      {% endfor %}
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Nama Lengkap</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.realname %}
          <label class="text-center mt-2" for="ForFullname">{{ profil.realname.upper() }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Tanggal Lahir</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.birthday %}
          <label class="mt-2 text-center" for="ForAboutMe">{{ profil.birthday }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Tentang Saya</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.about_me %}
          <label class="mt-2 text-center" for="ForAboutMe">{{ profil.about_me }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Terdaftar Sejak</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if user.member_since %}
          <label class="mt-2 text-center" for="ForMemberSince">{{ user.member_since }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Divisi</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if user.member_since %}
          <label class="mt-2 text-center" for="ForMemberSince">{{ user.member_since }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Jabatan</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if user.member_since %}
          <label class="mt-2 text-center" for="ForMemberSince">{{ user.member_since }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for=""><span>Status Kepegawaian</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if user.member_since %}
          <label class="mt-2 text-center" for="ForMemberSince">{{ user.member_since }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForAlmamater"><span>Pendidikan Terakhir</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.study %}
          <label class="mt-2 text-center" for="ForAlmamater">{{ profil.study }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForGelar"><span>Gelar Pendidikan</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.gelar %}
          <label class="mt-2 text-center" for="ForGelar">{{ profil.gelar }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForAddresBefore"><span>Alamat Asal</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.address_before %}
          <label class="mt-2 text-center" for="ForAddressBefore">{{ profil.address_before }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForAddresNow"><span>Alamat Sekarang</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.address_now %}
          <label class="mt-2 text-center" for="ForAddressNow">{{ profil.address_now }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForBlood"><span>Golongan Darah</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.blood %}
          <label class="mt-2 text-center" for="ForBlood">{{ profil.blood }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForBlood"><span>Jenis Kelamin</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.gender %}
          <label class="mt-2 text-center" for="ForGender">{{ profil.gender }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 fw-bold form_text" for="ForBlood"><span>Status Menikah</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.married %}
          <label class="mt-2 text-center" for="ForBlood">{{ profil.married }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="fw-bold col-form-label col-sm-3 form_text" for="ForReligion"><span>Agama</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.religion %}
          <label class="mt-2 text-center" for="ForReligion">{{ profil.religion }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 fw-bold form_text" for="ForWargaNegara"><span>Kewarganegaraan</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.warga_negara %}
          <label class="mt-2 text-center" for="ForWargaNegara">{{ profil.warga_negara }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label col-sm-3 form_text fw-bold" for="ForNIK"><span>NIK KTP</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.nik %}
          <label class="mt-2 text-center" for="ForNIK">{{ profil.nik }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label fw-bold col-sm-3 form_text" for="ForNPWP"><span>NPWP</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.npwp %}
          <label class="mt-2 text-center" for="ForNPWP" id="IdNpwp">{{ profil.npwp }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label fw-bold col-sm-3 form_text" for="ForNoHP"><span>No Handphone</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.no_hp %}
          <label class="mt-2 text-center" for="ForNoHP">{{ profil.no_hp }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mb-3">
      <label class="col-form-label fw-bold col-sm-3 form_text" for="ForZone"><span>Zona Waktu</span>:</label>
      <div class="col-sm-4">
        {% if user == current_user %}
          {% if profil.zone %}
          <label class="mt-2 text-center" for="ForZone">{{ profil.zone }}</label>
          {% endif %}
        {% endif %}
      </div>
    </div>
<div class='col-12'>
  {% if user == current_user %}
    <a href="{{ url_for('profil.edit_profile') }}" class="mb-3 btn btn-primary">Ubah Data</a>
    <a href="{{ url_for('main.index') }}" class="mb-3 btn btn-warning text-white">Kembali</a>
  {% endif %}
</div>
      </form>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
{% endblock %}
