{% extends 'base.html' %}

{% block title %}AbsenApp - Ubah Profil{% endblock %}

{% block body %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Ubah Profil {{ current_user.username.title() }}</h1>
                        <div class="row">
                            <form action="" method="POST" novalidate>
                                {{ form.hidden_tag() }}
                                <div class="row mb-3">
                                    {{ form.name.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.name(class='form-control', placeholder='Nama Lengkap Anda') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.location.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.location(class='form-control', placeholder='Bandung') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.about_me.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.about_me(class='form-control', placeholder='Ceritakan tentang anda') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.study.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.study(class='form-control', placeholder='ex: SMK Bina Darma') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.jurusan.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.jurusan(class='form-control', placeholder='Desain Grafis' ) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.gelar.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.jurusan(class='form-control', placeholder='note: kosongkan bila tidak ada' ) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.address_before.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.address_before(class='form-control') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.address_now.label(class='col-form-label col-sm-2', placeholder='note: kosongkan bila tidak ada') }}
                                    <div class="col-sm-4">
                                        {{ form.address_now(class='form-control') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.blood.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.blood(class='form-select') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.nik.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.nik(class='form-control' ) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.npwp.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.npwp(class='form-control') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.no_hp.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.no_hp(class='form-control') }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    {{ form.zone.label(class='col-form-label col-sm-2') }}
                                    <div class="col-sm-4">
                                        {{ form.zone(class='form-select') }}
                                    </div>
                                </div>

                                {% for message in get_flashed_messages() %}
                                <div class="alert alert-success">
                                    {{ message }}
                                </div>
                                {% endfor %}
                                <div class="col-6">
                                    {{ form.submit(class="mb-3 btn btn-primary") }}
                                    <a href="{{ url_for('main.index') }}" class="mb-3 btn btn-warning text-white">Kembali</a>
                                </div>
                            </form>
                        </div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                        </div>
                    </div>
                </footer>
            </div>

{% endblock %}
