{% extends 'base.html' %}

{% block title %}AbsenApp - Ubah Profil{% endblock %}

{% block body %}
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Ubah Profil {{ current_user.username.title() }}</h1>
                            <div class="card p-4 mb-3 shadow">
                                <div class="body">
                                    <div class="row">
                                        <form action="" method="POST" novalidate>
                                          {% for message in get_flashed_messages() %}
                                          <div class="alert alert-warning">
                                              {{ message }}
                                          </div>
                                          {% endfor %}
                                            {{ form.hidden_tag() }}
                                            <div class="row mb-3">
                                                {{ form.nama_lengkap.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_lengkap(class='form-control', placeholder='Nama Lengkap Anda', value=profiles.nama_lengkap) }}
                                                {% for error in form.nama_lengkap.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.tempat_lahir.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.tempat_lahir(class='form-control', placeholder='ex: Bandung', value=profiles.tempat_lahir) }}
                                                {% for error in form.tempat_lahir.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.tanggal_lahir.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.tanggal_lahir(type='date', class='form-control', value=profiles.tanggal_lahir) }}
                                                {% for error in form.tanggal_lahir.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.tentang_saya.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.tentang_saya(class='form-control', row='3', value=profiles.tentang_saya) }}
                                                {% for error in form.tentang_saya.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.divisi.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.divisi(class='form-select', value=profiles.divisi) }}
                                                {% for error in form.divisi.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.jabatan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.jabatan(class='form-select', value=profiles.jabatan) }}
                                                {% for error in form.jabatan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.lokasi_kantor.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.lokasi_kantor(class='form-select', value=profiles.lokasi_kantor) }}
                                                {% for error in form.lokasi_kantor.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.status_pegawai.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.status_pegawai(class='form-select', value=profiles.status_pegawai) }}
                                                {% for error in form.status_pegawai.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.pendidikan_terakhir.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.pendidikan_terakhir(class='form-select', value=profiles.pendidikan_terakhir) }}
                                                {% for error in form.pendidikan_terakhir.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.gelar_pendidikan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.gelar_pendidikan(class='form-control', placeholder='ex: Sarjana Teknik (S.T.)', value=profiles.gelar_pendidikan) }}
                                                    <small>Bagi yang tidak memiliki gelar harap kosongkan saja.</small>
                                                {% for error in form.gelar_pendidikan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nama_almamater.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_almamater(class='form-control', value=profiles.nama_almamater) }}
                                                {% for error in form.nama_almamater.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.jurusan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.jurusan(class='form-control', value=profiles.jurusan) }}
                                                    <small>Bagi yang tidak memiliki jurusan harap kosongkan saja.</small>
                                                {% for error in form.jurusan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.alamat_asal.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.alamat_asal(row='3', class='form-control', value=profiles.alamat_asal) }}
                                                {% for error in form.alamat_asal.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.alamat_domisili.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.alamat_domisili(row='3', class='form-control', value=profiles.alamat_domisili) }}
                                                {% for error in form.alamat_domisili.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.golongan_darah.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.golongan_darah(class='form-select', value=profiles.golongan_darah) }}
                                                {% for error in form.golongan_darah.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.jenis_kelamin.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.jenis_kelamin(class='form-select', value=profiles.jenis_kelamin) }}
                                                {% for error in form.jenis_kelamin.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.status_pernikahan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.status_pernikahan(class='form-select', value=profiles.status_pernikahan) }}
                                                {% for error in form.status_pernikahan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nama_pasangan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_pasangan(class='form-control', value=profiles.nama_pasangan) }}
                                                {% for error in form.nama_pasangan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.agama.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.agama(class='form-select', value=profiles.agama) }}
                                                {% for error in form.agama.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.warga_negara.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.warga_negara(class='form-select', value=profiles.warga_negara) }}
                                                {% for error in form.warga_negara.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nik.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nik(class='form-control', value=profiles.nik) }}
                                                {% for error in form.nik.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.npwp.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.npwp(class='form-control npwp', value=profiles.npwp) }}
                                                {% for error in form.npwp.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.no_bpjs_ketenagakerjaan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.no_bpjs_ketenagakerjaan(class='form-control', value=profiles.no_bpjs_ketenagakerjaan) }}
                                                {% for error in form.no_bpjs_ketenagakerjaan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.no_bpjs_kesehatan.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.no_bpjs_kesehatan(class='form-control', value=profiles.no_bpjs_kesehatan) }}
                                                {% for error in form.no_bpjs_kesehatan.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.no_hp.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.no_hp(class='form-control', value=profiles.no_hp) }}
                                                {% for error in form.no_hp.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.zona_waktu.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.zona_waktu(class='form-select', value=profiles.zona_waktu) }}
                                                {% for error in form.zona_waktu.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nama_bank.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_bank(class='form-select', value=profiles.nama_bank) }}
                                                {% for error in form.nama_bank.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nama_rekening.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_rekening(class='form-control', value=profiles.nama_rekening) }}
                                                {% for error in form.nama_rekening.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.no_rekening.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.no_rekening(class='form-control', value=profiles.no_rekening) }}
                                                {% for error in form.no_rekening.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.nama_wali.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.nama_wali(class='form-control', value=profiles.nama_wali) }}
                                                {% for error in form.nama_wali.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.hubungan_wali.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.hubungan_wali(class='form-select', value=profiles.hubungan_wali) }}
                                                {% for error in form.hubungan_wali.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                {{ form.alamat_wali.label(class='col-form-label col-sm-3 fw-bold') }}
                                                <div class="col-sm-4">
                                                    {{ form.alamat_wali(class='form-control', row='3', value=profiles.alamat_wali) }}
                                                {% for error in form.alamat_wali.errors %}
                                                <span style="color:red;">[{{ error }}]</span>
                                                {% endfor %}
                                                </div>
                                            </div>


                                            <div class="col-12">
                                                {{ form.submit(class="mb-3 btn btn-primary") }}
                                                <a href="{{ url_for('profil.index', username=current_user.username) }}" class="mb-3 btn btn-warning text-white">Kembali</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            {% include '_footer.html' %}
            </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js" integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $(document).ready(function(){
              $('.npwp').mask('00.000.000.0-000.000', {placeholder: "__.___.___._-__.___"});
            });
        </script>
{% endblock %}
